<!DOCTYPE html>

<!--
Nom du script : confirmation_express_04.hbs
Auteur : Christian VIGOUROUX
Date de création : 19/04/2016
Date de dernière modification : 19/4/2016
Objet : Page de confirmation émise par le serveur Node js express_04.js
-->

<!-- Balise HTML -->
<html>

  <!-- Section HEAD -->
  <head>
    <!-- Balise meta de gestion de l'accentuation UTF-8 -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>

  <!-- Section BODY -->
  <body>

    <!-- Utilisation de la police de caractères Arial -->
    <font face="Arial">

      <!-- Confirmation -->
      <h2>Confirmation du formulaire</h2>
      <br />
      Marque : {{marque}}
      <br />
      Modèle : {{modele}}
      <br />
      Pays : {{pays}}
      <br /><br />
      <form>
        <a href="/express_04">Retour au formulaire</a>
      </form>
    </font>

  </body>

</html>