<!DOCTYPE html>

<!--
Nom du script : mvc_05.htm
Auteur : Christian VIGOUROUX
Date de création : 19/04/2016
Date de dernière modification : 19/4/2016
Objet : Saisie clavier via des zones de texte
-->

<!-- Balise HTML -->
<html>

  <!-- Section HEAD -->
  <head>
    <!-- Balise meta de gestion de l'accentuation UTF-8 -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- Appel du Framework AngularJS -->
    <script
      src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
    </script>
  </head>

  <!-- Section BODY -->
  <body>

    <!-- Script HTML intégrant des directives AngularJS -->
    <div ng-app="monApplication" ng-controller="monControleur">
      <!-- Saisie des champs marque et modele -->
      <font face="Arial">
        Marque : <input type="text" ng-model="marque"><br>
        Modèle : <input type="text" ng-model="modele"><br>
        <!-- Affichage de la voiture préférée -->
        Voiture préférée : {{afficherVoiturePreferee()}}
      </font>
    </div>

    <!-- Module et contrôleur AngularJS -->
    <script>

      // Déclaration du module nommé monApplication
      var application = angular.module("monApplication", []);

      // Déclaration du contrôleur nommé monControleur
      application.controller("monControleur", function($scope) {

        // Initialisation des variables marque et modele
        $scope.marque = "Porsche";
        $scope.modele = "911";

        // Méthode afficherVoiturePreferee
        $scope.afficherVoiturePreferee = function() {
          return $scope.marque + " " + $scope.modele;
        };

      });

    </script>

  </body>

</html>