<!DOCTYPE html>

<!--
Nom du script : mysql_03.htm
Auteur : Christian VIGOUROUX
Date de création : 19/04/2016
Date de dernière modification : 19/4/2016
Objet : Ajout d'un nouvel enregistrement dans la table MySQL voitures
-->

<!-- Balise HTML -->
<html>

  <!-- Section HEAD -->
  <head>
    <!-- Balise meta de gestion de l'accentuation UTF-8 -->
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!-- Appel du Framework AngularJS -->
    <script
      src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
    </script>
    <!-- Appel du contrôleur de l'application (fichier Javascript externe) -->
    <script src="mysql_03.js" type="text/javascript"></script>
  </head>

  <!-- Section BODY -->
  <body>

    <!-- Script HTML intégrant des directives AngularJS -->
    <div ng-app="monApplication" ng-controller="monControleur">

      <!-- Utilisation de la police de caractères Arial -->
      <font face="Arial">

        <!-- Saisie de la marque via contrôle HTML de type input -->
        <p>Marque : <input type="text" ng-model="marqueVoiture"></p>

        <!-- Saisie du modèle via contrôle HTML de type input -->
        <p>Modèle : <input type="text" ng-model="modeleVoiture"></p>

        <!-- Saisie du pays via contrôle HTML de type input -->
        <p>Pays : <input type="text" ng-model="paysVoiture"></p>

        <!-- Validation via contrôle HTML de type button -->
        <button type="submit"
          ng-click="ajouterVoiture(marqueVoiture, modeleVoiture, paysVoiture)">
          Enregistrement dans la BDD MySQL
        </button>

      </font>

    </div>

  </body>

</html>